body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 243, 51);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recharts-text,
.recharts-legend-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}