body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 243, 51);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recharts-text,
.recharts-legend-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}